<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="index,follow" name="robots">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta content="free, code, workshop, taste, development, programming, learn, teach, sponsor" name="keywords">
  <meta content="52.370529,4.893000" name="ICBM">
  <meta content="52.370529;4.893000" name="geo.position">
  <meta content="Amsterdam,, nl" name="geo.placename">
  <meta content="NL" name="geo.region">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" value="@tasteofdesign">
  <meta content="Taste <of> Design" property="og:site_name">
  <meta content="Taste <of> Design" property="og:title">
  <meta content="activity" property="og:type">
  <meta content="http://tasteofdesign.nl/" name="twitter:url">
  <meta content="Amsterdam" property="og:locality">
  <meta content="nl" property="og:country-name">
  <meta content="52.37" property="og:latitude">
  <meta content="4.89" property="og:longitude">
  <meta content="http://tasteofdesign.nl/images/social/taste-of-design.png" property="og:image">
  <link href="http://tasteofdesign.nl/" rel="canonical">
  <link rel="icon" type="image/png" sizes="192x192" href="/tasteofdesign-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "css/app.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56824731-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56824731-7');
  </script>
</head>
